@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'sa-digital-number';
  src: url('../../resources/font/DigitalNumbers-Regular.eot');
}
@font-face {
  font-family: 'sa-digital-number';
  src: url('../../resources/font/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../../resources/font/MaterialIcons-Regular.woff2') format('woff2'),
  url('../../resources/font/MaterialIcons-Regular.woff') format('woff'),
  url('../../resources/font/MaterialIcons-Regular.ttf') format('truetype');
}

$buttonbgcolor1: #5ead3d;
$buttoncolor1: #fff;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background: #222; color: #aaa; font-family: "Helvetica Neue", Arial, sans-serif; padding: 60px 0 0 0; margin: 0; font-size: 18px;
  &.bb { background-color: #222; }
}
// box-shadow: 0 -1px 0 #e4e4e4, 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
#main { 
  padding: 16px; margin: 0; height: 100%;
  &.home {
    background: #888 url('../img/bg1.png') no-repeat;
  }
}
.container {
   color: #222; margin: 0 auto; padding: 10px;
}

label { font-size: 18px; }
input,select { box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
form {
}

button {
  i { vertical-align: text-bottom; font-size: 21px; margin-right: 6px; }
}
.navbar {
  
}

.home {
  .comp {
    width: 18em; margin: 0 18px 18px 0; display: inline-block;
  }
}

.competition {
  .queue {
    table {
      .btn-outline-secondary { color: #ccc; }
      .sum {
        padding-left: 24px;
        &::after { border-top-color: transparent; }
        &:hover {
          &::after { border-top-color: rgb(204,204,204); }
        } 
      }
    }
  }
}

.admin {
  .activecomp { margin-bottom: 50px; }
  .compname { font-weight: bold; font-size: 21px; }
  .comptype { color: #555; font-size: 16px; }
  div.buttons { margin-bottom: 25px; }
}

.participants {
  .edit {
    div { display: inline-block; margin: 0 12px 0 0; } // make responsive
    label {
      margin-right: 6px;
      &:after{ content: ':'; }
    }
    input { width: 160px; }
  }
  table {
    margin-top: 24px;
    span { display: inline-block; margin-right: 16px; }
    td.commands { 
      width: 220px; overflow: visible;
      i { vertical-align: middle; }
    }
  }
  &.confirmed {
    table {
      tr:nth-child(4n), tr:nth-child(4n-1) { background-color: #313539; }
    }
  }
}

.comps {

}

.reg {
  padding: 0; margin: 0; background-color: #000; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background-color: #212121;
  #info {
    padding: 8px 0 0 0; font-size: 5vw; margin-bottom: 8px; color: #aaa; text-align: center;
    .sheader { text-transform: uppercase; font-weight: bold; font-size: 8vw; }
  }
  .prognosis {
    color: #888; text-transform: uppercase; padding: 8px; text-align: center;
    table { width: 100%; }
    td { width: 33.333%; }
    .prog,.max { flex-grow: 3; display: inline-block; }
    .prog { text-align: left; }
    .max { text-align: right; }
  }
  .options {
    width: 100%; height: 56px; background-color: #222; margin-top: 8px; line-height: 64px; vertical-align: middle; position: fixed; bottom: 0;
    #savereg,#cancelreg,#startreg { height: 48px; }
    #savereg { position: absolute; right: 0; }
    #cancelreg { position: absolute; left: 0; background-color: #ad1a13; }
  }
  .num { font-family: sa-digital-number; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; }
}

//.scoreboard,.totalscore { box-shadow: 0 -1px 0 #e4e4e4, 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); }

.scoreboard {
  background-color: #333; padding: 8px; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; box-sizing: border-box;
  font-family: sa-digital-number; font-size: 36px; width: 100%; display: flex; flex-direction: row;
  &:empty { display: none; }
  span {
    text-align: center; display: inline-block; padding: 0; margin: 0; flex-grow: 2; cursor: pointer; border: 1px solid transparent;
    &:focus-within { outline: none; box-shadow: 0 0 15px rgba(81, 203, 238, 1); border: 1px solid rgba(81, 203, 238, 1); }
  }
}

.totalscore {
  margin-top: 8px; text-align: right; background-color: #333; padding: 8px; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; box-sizing: border-box;
  font-family: sa-digital-number; font-size: 36px;
}


// @include for-tablet-portrait-up {
//   .scoreboard,.totalscore { font-size: 48px; }
// }
// @include for-tablet-landscape-up {
//   .scoreboard,.totalscore { font-size: 64px; }
//   span { padding: 0 4px; }
// }
// @include for-desktop-up {
//   .scoreboard,.totalscore { font-size: 80px; }
// }
// @include for-big-desktop-up {
//   .scoreboard,.totalscore { font-size: 96px; }
// }

@-ms-viewport{ width: device-width; }

.single {
  font-family: sa-digital-number; font-size: 96px; width: 1em; user-select: all; background-color: #333; color: #e6ffac; text-align: center; cursor: pointer; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; border: 1px solid transparent;
  &::selection { color: rgba(81, 203, 238, 1); }
}

ul.bb {
  list-style: none; font-family: Nanum Pen Script, cursive; font-size: 28px; padding: 6px 0; display: block; margin-top: 0;
  li {
    list-style-type: none; color: #ccc; padding: 0; cursor: pointer; display: table-row;
    .name { padding-right: 32px; display: table-cell; }
    .score { padding-right: 24px; }
  }
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
