@mixin for-phone-only { @media (min-width: 300px) and (max-width: 599px) { @content; } }
@mixin for-tablet-portrait-up { @media (min-width: 600px) { @content; } }
@mixin for-tablet-landscape-up { @media (min-width: 900px) { @content; } }
@mixin for-desktop-up { @media (min-width: 1200px) { @content; } }
@mixin for-big-desktop-up { @media (min-width: 1600px) { @content; } }

@font-face {
  font-family: 'sa-digital-number';
  src: url('../../resources/font/DigitalNumbers-Regular.eot');
}
@font-face {
  font-family: 'sa-digital-number';
  src: url('../../resources/font/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../resources/font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../../resources/font/MaterialIcons-Regular.woff2') format('woff2'),
  url('../../resources/font/MaterialIcons-Regular.woff') format('woff'),
  url('../../resources/font/MaterialIcons-Regular.ttf') format('truetype');
}

$buttonbgcolor1: #5ead3d;
$buttoncolor1: #fff;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: #f0f0f0; color: #222; font-family: "Helvetica Neue", Arial, sans-serif; padding: 80px 0 0 0; margin: 0; font-size: 18px;
  &.bb { background-color: #222; }
}
header {
  position: fixed; left: 0; top: 0; right: 0; min-height: 64px; margin-bottom: 20px; background-color: #263521; box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); padding: 0 25px;
  .menubtn {
    position: absolute; left: 0; top: 0; width: 64px; height: 64px; color: white; cursor: pointer;
    i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 28px;  }
  }
  h1 { margin: 0; color: #fff; line-height: 64px; margin-left: 50px; font-size: 21px; }
  @include for-tablet-portrait-up { h1 { font-size: 28px; } }
  #logo { height: 30px; position: absolute; right: 30px; top: 10px; }
}

// box-shadow: 0 -1px 0 #e4e4e4, 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

.container {
   color: #222; margin: 0 auto; padding: 10px;
}
@include for-tablet-landscape-up {
  padding: 25px;
}

#sidenav {
  position: fixed; left: 0; top: 0; height: 100%; background-color: #000; transition: .1s; width: 0; overflow-x: hidden; padding-top: 32px;
  &.open { width: 300px; transition: .1s; }
  .closesidenav { color: #fff; position: absolute; right: 16px; top: 16px; }
  a {
    display: block; padding: 12px; color: #ccc; text-decoration: none; font-size: 21px;
    &:active { color: #000; background-color: #aaa; }
  }
}

label { font-size: 18px; }
input,select { box-sizing: border-box; }
form {
  label,input,select,button { display: block; width: 100%; font-size: 18px; padding: 5px; }
  input { margin-top: 2px; }
  input[type=date] { width: auto; }
  button { margin-top: 25px; }
  .row { margin-bottom: 10px; }
}

@include for-tablet-landscape-up {
  form {
    label,input,select, button { width: 450px; }
  }
}

button {
  height: 35px; padding: 0 20px; box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24); border-radius: 2px; border: none; cursor: pointer; font-weight: bold; text-transform: uppercase; transition: box-shadow .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1); background-color: $buttonbgcolor1; color: $buttoncolor1; box-sizing: border-box;
  &:not([disabled]) {
    &:hover { box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }
    &:active { box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32); }
  }
  &:disabled { box-shadow: none; background-color: rgba(128,128,128,.5); cursor: default; }
}
button.main { font-size: 18px; height: 50px; padding: 0 25px; background-color: #5ead3d; color: #fff; width: 100%; }
@include for-tablet-portrait-up {
  button.main { width: auto; }
}

.overlay { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.5); }
.modal {
  display: inline-block; background-color: #fff; padding: 0; max-width: 85%; max-height: 85%; min-width: 200px; min-height: 400px; position: relative; margin: 0 auto; top: 50%; left: 50%; transform: translate(-50%,-50%) perspective(1px);
  .header { background-color: #263521; height: 40px; padding: 16px; color: #fff; font-size: 21px; line-height: 40px; }
  .content { padding: 16px; }
  .footer { padding: 16px; }
}

.listview {
  display: table; width: 100%; padding: 8px 0; margin: 0; list-style: none;
  li {
    display: table-row; height: 50px; cursor: pointer;
    &:hover { background-color: rgba(0,0,0,.05); }
    & > * {
      display: block; margin: 0; padding: 0; vertical-align: middle;
      &:first-child { padding-left: 15px; }
      &:last-child { padding-right: 15px; }
    }
    @include for-tablet-landscape-up {
      & > * { display: table-cell; }
    }
    .icon { width: 64px; color: #757575; display: table-cell; }
    .text { color: #000; font-size: 21px; }
    .extra { color: #555; font-size: 16px; }
  }
}

.admin {
  .activecomp { margin-bottom: 50px; }
  .compname { font-weight: bold; font-size: 21px; }
  .comptype { color: #555; font-size: 16px; }
  div.buttons { margin-bottom: 25px; }
}

.test {
  padding: 60px;
  label { width: 120px; display: inline-block; }
  button { margin-top: 16px; }
}

.participants {
  .edit {
    div { display: inline-block; margin: 0 12px 0 0; } // make responsive
    label {
      margin-right: 6px;
      &:after{ content: ':'; }
    }
    input { width: 160px; }
  }
  #participantlist {
    margin-top: 24px;
    span { display: inline-block; margin-right: 16px; }
  }
}

.comps {

}

.reg {
  padding: 0; margin: 0; background-color: #000; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background-color: #212121;
  #info {
    padding: 16px 0 0 0; font-size: 5vw; margin-bottom: 16px; color: #aaa; text-align: center;
    .sheader { text-transform: uppercase; font-weight: bold; font-size: 8vw; }
  }
  .prognosis {
    color: #888; text-transform: uppercase; text-align: center; padding-top: 40px;
  }
  .options {
    width: 100%; height: 80px; background-color: #222; margin-top: 8px; line-height: 64px; vertical-align: middle; position: fixed; bottom: 0;
    #savereg,#cancelreg,#startreg { height: 64px; }
    #savereg { position: absolute; right: 0; }
    #cancelreg { position: absolute; left: 0; background-color: #ad1a13; }
  }
  .num { font-family: sa-digital-number; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; }
}

//.scoreboard,.totalscore { box-shadow: 0 -1px 0 #e4e4e4, 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); }

.scoreboard {
  background-color: #333; padding: 8px; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; box-sizing: border-box;
  font-family: sa-digital-number; font-size: 36px; width: 100%; display: flex; flex-direction: row;
  &:empty { display: none; }
  span {
    text-align: center; display: inline-block; padding: 0; margin: 0; flex-grow: 2; cursor: pointer; border: 1px solid transparent;
    &:focus-within { outline: none; box-shadow: 0 0 15px rgba(81, 203, 238, 1); border: 1px solid rgba(81, 203, 238, 1); }
  }
}

.totalscore {
  margin-top: 8px; text-align: right; background-color: #333; padding: 8px; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; box-sizing: border-box;
  font-family: sa-digital-number; font-size: 36px;
}


@include for-tablet-portrait-up {
  .scoreboard,.totalscore { font-size: 48px; }
}
@include for-tablet-landscape-up {
  .scoreboard,.totalscore { font-size: 64px; }
  span { padding: 0 4px; }
}
@include for-desktop-up {
  .scoreboard,.totalscore { font-size: 80px; }
}
@include for-big-desktop-up {
  .scoreboard,.totalscore { font-size: 96px; }
}

@-ms-viewport{ width: device-width; }

.single {
  font-family: sa-digital-number; font-size: 96px; width: 1em; user-select: all; background-color: #333; color: #e6ffac; text-align: center; cursor: pointer; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; border: 1px solid transparent;
  &::selection { color: rgba(81, 203, 238, 1); }
}

ul.bb {
  list-style: none; font-family: Nanum Pen Script, cursive; font-size: 28px; padding: 6px 0; display: block; margin-top: 0;
  li {
    list-style-type: none; color: #ccc; padding: 0; cursor: pointer; display: table-row;
    .name { padding-right: 32px; display: table-cell; }
    .score { padding-right: 24px; }
  }
  #addparticipant { color: #e6ffac; display: inline-block; margin-top: 24px; border: 1px solid #555; padding: 8px 16px; }
  @include for-tablet-portrait-up { #addparticipant { font-size: 32px; } }
  @include for-tablet-portrait-up { font-size: 48px; }
  @include for-tablet-landscape-up { font-size: 56px; }
  @include for-desktop-up { font-size: 72px; }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
